<div class="page-header">
  <h1>Todo application <small>- It is collaborative tool to manage daily tasks and daily progress made by the team. </small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>
